# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# MacOS
macos/Flutter/ephemeral/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
macos/.symlinks/
macos/Pods/
macos/Runner.xcworkspace/
macos/build/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/FlutterGeneratedPluginRegistrant.cmake
linux/flutter/CMakeLists.txt
linux/build/

# Web
web/.dart_tool/
web/build/

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/FlutterGeneratedPluginRegistrant.cmake
windows/flutter/CMakeLists.txt
windows/build/

# FVM Version Cache
.fvm/

.env
**/*.g.dart
**/*.freezed.dart

# FVM Version Cache
.fvm/

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
firebase.json
**/firebase_options.dart
**/google-services.json

*.sublime-project
*.sublime-workspace
